@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', system-ui, sans-serif;
  }
  
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
  
  body {
    font-family: 'Inter', system-ui, sans-serif;
  }
}